<div class="chat-widget">
    <div class="chat-header">Chat</div>

    <div class="chat-body" id="chat-body">
        <div *ngFor="let n of mensajes" class="p-2 mensaje-container" [ngClass]="(usuarioLogueado.uid==n.uid)?'enviado' : 'enviado'">
            {{n.mensaje}}
            <div class="info">
                <span class="email">{{ n.email }} - {{ n.fecha | date:'shortDate' }}, {{ n.hora }}</span>
            </div>
        </div>
    </div>
    <form class="chat-input" (ngSubmit)="enviarMensaje()">
        <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje.mensaje" name="nuevoMensaje">
        <button type="submit">Enviar</button>
    </form>
</div>
