<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="content">
            <div class="game">
                <a href="juego1.html"><img src='../../../assets/ahorcado/ahorcado.png' alt="Juego 1"></a>
                <p>Juego 1</p>
            </div>
            <div class="game">
                <a href="juego2.html"><img src='../../../assets/preguntados/preguntados.png' alt="Juego 2"></a>
                <p>Juego 2</p>
            </div>
            <div class="game">
                <a href="juego3.html"><img src='../../../assets/mayorMenor/mayoromenor.jpg' alt="Juego 3"></a>
                <p>Juego 3</p>
            </div>
            <button type="button" (click)="onClick()">LOGOUT</button>
        </div>
    </div>
</body>
</html>
