<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="email"  style="color: white;" *ngIf="user && user.email">{{ user.email }}</div>
        <div class="content">
            <label></label>
            <div class="game">
                <a href="ahorcado"><img src='../../../assets/ahorcado/ahorcado.png' alt="juego1"></a>
                <p>Ahorcado</p>
            </div>
            <div class="game">
                <a href="mayormenor"><img src='../../../assets/preguntados/preguntados.png' alt="jeugo2"></a>
                <p>Preguntados</p>
            </div>
            <div class="game">
                <a href="mayormenor"><img src='../../../assets/mayorMenor/mayoromenor.jpg' alt="juego3"></a>
                <p>¿Mayor o Menor?</p>
            </div>
        </div>
    </div>
</body>
</html>
