<div class="roulette-container">
  <div class="wheel" #wheel>
    <div class="ball" #ball></div>
  </div>
  <div class="table">
    <div class="row" *ngFor="let row of bettingTable">
      <div
        class="cell"
        *ngFor="let cell of row"
        [ngClass]="{ red: cell.color === 'red', black: cell.color === 'black', green: cell.color === 'green' }"
        (click)="selectedNumber = cell.number"
        [class.selected]="cell.number === selectedNumber"
      >
        {{ cell.number }}
      </div>
    </div>
  </div>
  <div class="score" style="color: white;">Score: {{ score }}</div>
  <button (click)="spin()">Spin</button>
</div>