<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quién soy - Nahuel Rodrigo Pazos</title>
</head>
<body>
    <header>
        <h1>¡Hola, soy Nahuel Rodrigo Pazos!</h1>
    </header>
    <main>
        <section>
            <h2>Sobre mí</h2>
            <p>Actualmente estoy estudiando Programación en la UTN. Me apasiona el mundo de la tecnología y esta es mi primera pagina.</p>
        </section>
        <section>
            <img src="../../../assets/FotoPerfil.jpeg" alt="Nahuel Rodrigo Pazos" style="max-width: 30%; height: auto;">
        </section>
    </main>
    <footer>
        <p>Esta página está dedicada a juegos.</p>
    </footer>
</body>
</html>
