<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones de juego</title>
    <link rel="stylesheet" href="como-juego.component.css">
</head>
<body>
    <div class="container">
        <h1>Instrucciones de juego</h1>
        <div class="game">
            <h2>Ahorcado</h2>
            <img src='../../../assets/ahorcado/ahorcado23.jpg' alt="Ahorcado">
            <p>El objetivo del juego es adivinar la palabra oculta antes de que se completen todas las partes del cuerpo del ahorcado. Selecciona letras para adivinar la palabra.</p>
        </div>
        <div class="game">
            <h2>Preguntados</h2>
            <img src='../../../assets/preguntados/preguntados23.jpg' alt="Preguntados">
            <p>En este juego se te harán preguntas de diferentes categorías. Debes responder correctamente para avanzar. Gana al responder 5 preguntas correctamente y tienes 3 vidas.</p>
        </div>
        <div class="game">
            <h2>MayorMenor</h2>
            <img src='../../../assets/mayorMenor/mayorMenor23.png'  alt="MayorMenor">
            <p>Este juego consiste en adivinar si el número de la carta siguiente es mayor o menor que el valor de la carta que muestra. Tienes un número limitado de intentos y si adivinas 5 seguidas ganas.</p>
        </div>
        <div class="game">
            <h2>Buscaminas</h2>
            <img src='../../../assets/buscaminas/buscamianas23.jpeg' alt="Buscaminas">
            <p>El objetivo del juego es descubrir todas las casillas que no contienen minas. Si descubres una casilla con una mina, pierdes. Usa las pistas para deducir dónde están las minas.</p>
        </div>
    </div>
</body>
</html>
