<div *ngIf="currentCard">
  <h2 style="color: white;">Carta actual:</h2>
  <img [src]="currentCard.image" alt="{{currentCard.value}} de {{currentCard.suit}}" />
  <p style="color: white;">Valor: {{currentCard.value}}</p>
  <p style="color: red;">Vidas: {{lives}}</p>
</div>

<div *ngIf="!result">
  <button (click)="guessHigher()">Mayor</button>
  <button (click)="guessLower()">Menor</button>
</div>

<div *ngIf="result">
  <h3>{{resultMessage}}</h3>
  <button style="color: white;" *ngIf="resultMessage === '¡Perdiste! Inténtalo de nuevo.'" (click)="newGame()">Generar nueva partida</button>
  <button *ngIf="resultMessage === '¡Felicidades! ¡Ganaste!'" (click)="newGame()">Generar nueva partida</button>
</div>
<app-chat></app-chat>