<div class="container">
    <h1 style="color: white;">Mayor o Menor</h1>
    <div class="card">
      <p style="color: white;">¿La siguiente carta será mayor o menor que la actual?</p>
      <p style="color: white;">Carta actual: <span>{{ currentCard }}</span></p>
      <button class="btn" (click)="guess('mayor')">Mayor</button>
      <button class="btn" (click)="guess('menor')">Menor</button>
    </div>
    <div id="result" style="color: white;">
      <p *ngIf="resultMessage">{{ resultMessage }}</p>
    </div>
    <p style="color: blue;">Puntaje: {{ score }}</p> <!-- Cambiar el color del puntaje a azul -->
  </div>
  